#form-container{
    background-color:rgb(2, 2, 20);
    position: absolute;
    width: 920px;
    height: 400px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}
#form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-top: 30px;
}
#form-container > form > input{
    margin-bottom: 10px;
}

#form-container input[type="submit"] {
    margin-top: 15px;
}

#form-buttons input, button{
    padding: 6px;
    margin: 6px 12px;
}