#viewChoreForm{
    background-color:rgb(5, 5, 32);
    position: absolute;
    width: 820px;
    height: 350px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    overflow-y: scroll;
}
ul, li{
    text-decoration: none;
    list-style-type: none;
}